<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto" />
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
/>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
/>
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<div>
  <div class="container-xl">
      <div class="table-responsive">
          <div class="table-wrapper">
              <div id="Company" style="margin-top:60px">
                  <div class="table-title">
                      <div class="row">
                          <div class="col-sm-4">
                              <h2> Company Details </h2>
                          </div>
                          <div class="col-sm-6">
                              <div
                              class="btn-group"
                              role="group"
                              aria-label="Button group with nested dropdown"
                              >
                                  <button
                                  type="button"
                                  class="btn btn-sm btn-link"
                                  data-toggle="modal"
                                  data-target="#addModal"
                                  >
                                  Add Company 
                                  </button>
                              </div>
                          </div>
                          <div class="col-sm-2">
                              <div class="search-box">
                                  <i class="material-icons">&#xE8B6;</i>
                                  <input type="text" class="form-control" placeholder="Search&hellip;"/>
                              </div>
                          </div>
                      </div>
                  </div>
                  <table id="companyTable" datatable [dtOptions]="dtOptions" class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Address </th>
                            <th>Email</th>
                            <th>GstNo<i class="fa fa-sort"></i></th>
                            <th>IsActive </th>
                            <th>Phone</th>
                            <th>Title </th>
                            <th>Website</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let company of companyResponse | paginate: config;
                                  let indexOfelement = index"
                      >
                      <td>{{indexOfelement+1}}</td>
                      <td>{{company.address}}</td>
                      <td>{{company.email}}</td>
                      <td>{{company.gstNo}}</td>
                      <td>{{company.isActive}}</td>
                      <td>{{company.phone}}</td>
                      <td>{{company.title}}</td>
                      <td>{{company.website}}</td>
                      <td>
                        <a href="#" 
                        data-toggle="modal" 
                        (click)="viewRecord(company)" 
                        data-target="#viewModal" 
                        class="view"
                        title="View"
                            ><i class="material-icons">&#xE417;</i></a>
                        <a
                          href="#"
                          data-toggle="modal"
                          data-target="#editModal"
                          (click)="modifyRecord(company)"
                          class="edit"
                          title="Edit"
                          ><i class="material-icons">&#xE254;</i></a
                        >
                        <a
                          href="#"
                          data-toggle="modal"
                          (click)="deleteRecord(company)"
                          data-target="#viewModal"
                          class="delete"
                          title="Delete"
                          ><i class="material-icons">&#xE872;</i></a
                        >
                      </td>
                    </tbody>
                  </table>
                  <div class="clearfix">
                    <div *ngIf="companyResponse != undefined" class="hint-text">
                      Showing <b>{{ config.itemsPerPage }}</b> out of
                      <b>{{ companyResponse.length }}</b> entries
                    </div>
                    <pagination-controls
                      (pageChange)="pageChange($event)"
                      class="my-pagination pagination"
                    ></pagination-controls>
                  </div>
          </div>
        </div>
     </div>
  </div>
</div>
<!--add new company-->
<div
  class="modal fade"
  id="addModal"
  data-backdrop="static"
  data-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Add New Company</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-sm-0">
                <h2>title : </h2>
            </div>
            <div class="col-sm-6">
              <input
                type="text"
                [(ngModel)]="createCompany.title"
                name="addtitle"
                id="addtitle"
                class="form-control"
              />
            </div> 
          </div>
          <div class="row">
            <div class="col-sm-0">
                <h2>address : </h2>
            </div>
            <div class="col-sm-6">
              <input
                type="text"
                [(ngModel)]="createCompany.address"
                name="addaddress"
                id="addaddress"
                class="form-control"
              />
            </div> 
          </div>
          <div class="row">
            <div class="col-sm-0">
                <h2>email : </h2>
            </div>
            <div class="col-sm-6">
              <input
                type="text"
                [(ngModel)]="createCompany.email"
                name="addemail"
                id="addemail"
                class="form-control"
              />
            </div> 
          </div>
          <div class="row">
            <div class="col-sm-0">
                <h2>gstNo : </h2>
            </div>
            <div class="col-sm-6">
              <input
                type="text"
                [(ngModel)]="createCompany.gstNo"
                name="addgstNo"
                id="addgstNo"
                class="form-control"
              />
            </div> 
          </div>
          <div class="row">
            <div class="col-sm-0">
                <h2>isActive : </h2>
            </div>
            <div class="col-sm-6">
              <input
                type="text"
                [(ngModel)]="createCompany.isActive"
                name="addisActive"
                id="addisActive"
                class="form-control"
              />
            </div> 
          </div>
          <div class="row">
            <div class="col-sm-0">
                <h2>phone : </h2>
            </div>
            <div class="col-sm-6">
              <input
                type="text"
                [(ngModel)]="createCompany.phone"
                name="addphone"
                id="addphone"
                class="form-control"
              />
            </div> 
          </div>
          <div class="row">
            <div class="col-sm-0">
                <h2>website : </h2>
            </div>
            <div class="col-sm-6">
              <input
                type="text"
                [(ngModel)]="createCompany.website"
                name="addwebsite"
                id="addwebsite"
                class="form-control"
              />
            </div> 
          </div>
          <div class="form-group col-md-6"></div>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>#</th>
                <th>displayTitle</th>
                <th>percentOrAmout</th>
                <th>value</th>
                <th>vvtTaxTypetitle</th>
                <th>Action</th>
              </tr>
            </thead>
            <tr *ngFor="let taxs of createCompany.companyTaxs; let count = index">
                <td>{{ count + 1 }}</td>
                <td>
                  <input type="text" class="form-control" [(ngModel)]="taxs.displayTitle"
                    name="{{ count + 1 }}displayTitle" id="{{ count + 1 }}displayTitle"/>
                </td>
                <td>
                  <input type="text" class="form-control" [(ngModel)]="taxs.percentOrAmout"
                    name="{{ count + 1 }}percentOrAmout" id="{{ count + 1 }}percentOrAmout"/>
                </td>
                <td>
                    <input type="text" class="form-control" [(ngModel)]="taxs.value"
                      name="{{ count + 1 }}value" id="{{ count + 1 }}value"/>
                </td>
                <td>
                    <input type="text" class="form-control" [(ngModel)]="taxs.vvtTaxType.title"
                      name="{{ count + 1 }}vvtTaxTypeTitle" id="{{ count + 1 }}.vvtTaxTypeTitle"/>
                </td>
                <td>
                    <a class="add" (click)="addNewTaxs()" title="Add"><i class="material-icons">&#xE03B;</i></a>
                    <a class="delete" (click)="deleteTaxs(taxs)" title="Delete"><i
                        class="material-icons">&#xE872;</i></a>
                  </td>
          </table>
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancel
        </button>
        <button type="button" class="btn btn-primary" (click)="createNew()">
          Add Record
        </button>
      </div>
    <pre>{{createCompany |  json}}</pre>
    </div>
  </div>

</div>
<!--edit company-->
<div
  class="modal fade"
  id="editModal"
  data-backdrop="static"
  data-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Edit Company {{ updateCompany.title }}</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-sm-0">
                <h2>title : </h2>
            </div>
            <div class="col-sm-6">
              <input
                type="text"
                [(ngModel)]="updateCompany.title"
                name="edittitle"
                id="edittitle"
                class="form-control"
              />
            </div> 
          </div>
          <div class="row">
            <div class="col-sm-0">
                <h2>address : </h2>
            </div>
            <div class="col-sm-6">
              <input
                type="text"
                [(ngModel)]="updateCompany.address"
                name="editaddress"
                id="editaddress"
                class="form-control"
              />
            </div> 
          </div>
          <div class="row">
            <div class="col-sm-0">
                <h2>email : </h2>
            </div>
            <div class="col-sm-6">
              <input
                type="text"
                [(ngModel)]="updateCompany.email"
                name="editemail"
                id="editemail"
                class="form-control"
              />
            </div> 
          </div>
          <div class="row">
            <div class="col-sm-0">
                <h2>gstNo : </h2>
            </div>
            <div class="col-sm-6">
              <input
                type="text"
                [(ngModel)]="updateCompany.gstNo"
                name="editgstNo"
                id="editgstNo"
                class="form-control"
              />
            </div> 
          </div>
          <div class="row">
            <div class="col-sm-0">
                <h2>isActive : </h2>
            </div>
            <div class="col-sm-6">
              <input
                type="text"
                [(ngModel)]="updateCompany.isActive"
                name="editisActive"
                id="editisActive"
                class="form-control"
              />
            </div> 
          </div>
          <div class="row">
            <div class="col-sm-0">
                <h2>phone : </h2>
            </div>
            <div class="col-sm-6">
              <input
                type="text"
                [(ngModel)]="updateCompany.phone"
                name="editphone"
                id="editphone"
                class="form-control"
              />
            </div> 
          </div>
          <div class="row">
            <div class="col-sm-0">
                <h2>website : </h2>
            </div>
            <div class="col-sm-6">
              <input
                type="text"
                [(ngModel)]="updateCompany.website"
                name="editwebsite"
                id="editwebsite"
                class="form-control"
              />
            </div> 
          </div>
          <div class="form-group col-md-6"></div>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>#</th>
                <th>displayTitle</th>
                <th>percentOrAmout</th>
                <th>value</th>
                <th>vvtTaxTypetitle</th>
                <th>Action</th>
              </tr>
            </thead>
            <tr *ngFor="let taxs of updateCompany.companyTaxs; let count = index">
                <td>{{ count + 1 }}</td>
                <td>
                  <input type="text" class="form-control" [(ngModel)]="taxs.displayTitle"
                    name="{{ count + 1 }}displayTitle" id="{{ count + 1 }}displayTitle"/>
                </td>
                <td>
                  <input type="text" class="form-control" [(ngModel)]="taxs.percentOrAmout"
                    name="{{ count + 1 }}percentOrAmout" id="{{ count + 1 }}percentOrAmout"/>
                </td>
                <td>
                    <input type="text" class="form-control" [(ngModel)]="taxs.value"
                      name="{{ count + 1 }}value" id="{{ count + 1 }}value"/>
                </td>
                <td>
                    <input type="text" class="form-control" [(ngModel)]="taxs.vvtTaxType.title"
                      name="{{ count + 1 }}vvtTaxTypeTitle" id="{{ count + 1 }}.vvtTaxTypeTitle"/>
                </td>
                <td>
                    <a class="add" (click)="addNewUpdateTaxs()" title="Add"><i class="material-icons">&#xE03B;</i></a>
                    <a class="delete" (click)="deleteUpdateTaxs(taxs)" title="Delete"><i
                        class="material-icons">&#xE872;</i></a>
                </td>
            </tr>
            <tr>
                <td>
                    <a class="add" (click)="addNewUpdateTaxs()" title="Add"><i class="material-icons">&#xE03B;</i></a>   
                </td>
            </tr>
          </table>
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancel
        </button>
        <button type="button" class="btn btn-primary" (click)="updateCompanyRec()">
            Update
        </button>
      </div>
    <pre>{{updateCompany |  json}}</pre>
    </div>
  </div>
</div>
<!--delete company-->
<div
  class="modal fade"
  id="viewModal"
  data-backdrop="static"
  data-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" 
            *ngIf="deleteRecordEnabled" 
            id="staticBackdropLabel"
            >Delete Company {{ updateCompany.title }}
        </h5>
        <h5 class="modal-title" 
            *ngIf="!deleteRecordEnabled" 
            id="staticBackdropLabel"
            >Viewing Company Record of {{ updateCompany.title }}
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
            <div class="row">
                <div class="col-sm-0">
                    <h2>Id : {{ updateCompany.id }}</h2>
                </div> 
            </div>
          <div class="row">
            <div class="col-sm-0">
                <h2>title : {{ updateCompany.title }}</h2>
            </div> 
          </div>
          <div class="row">
            <div class="col-sm-0">
                <h2>address : {{ updateCompany.address }}</h2>
            </div> 
          </div>
          <div class="row">
            <div class="col-sm-0">
                <h2>email : {{ updateCompany.email }}</h2>
            </div> 
          </div>
          <div class="row">
            <div class="col-sm-0">
                <h2>gstNo : {{ updateCompany.gstNo }}</h2>
            </div> 
          </div>
          <div class="row">
            <div class="col-sm-0">
                <h2>isActive : {{ updateCompany.isActive }}</h2>
            </div> 
          </div>
          <div class="row">
            <div class="col-sm-0">
                <h2>phone : {{ updateCompany.phone }}</h2>
            </div> 
          </div>
          <div class="row">
            <div class="col-sm-0">
                <h2>website : {{ updateCompany.website }}</h2>
            </div> 
          </div>
          <div class="form-group col-md-6"></div>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>#</th>
                <th>displayTitle</th>
                <th>percentOrAmount</th>
                <th>value</th>
                <th>vvtTaxTypetitle</th>
              </tr>
            </thead>
            <tr *ngFor="let taxs of updateCompany.companyTaxs; let count = index">
                <td>{{ count + 1 }}</td>
                <td>
                  <h4>{{ taxs.displayTitle }}</h4>
                </td>
                <td>
                    <h4>{{ taxs.percentOrAmout }}</h4>
                </td>
                <td>
                    <h4>{{ taxs.value }}</h4>
                </td>
                <td>
                    {{ taxs.vvtTaxType.title }}
                </td>
                
            </tr>
          </table>
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancel
        </button>
        <button type="button" class="btn btn-primary" *ngIf="deleteRecordEnabled" (click)="deleteCompanyRec()">
            Delete
        </button>
      </div>
    </div>
  </div>
</div>

