<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<div style="margin-top: 80px">
  <table datatable id="roleTable" [dtOptions]="dtOptions" class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>No.</th>
        <th>Role</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of role; let col = index">
        <td>{{col + 1}}</td>
        <td>{{data.name}}</td>
        <td>
          <a href="#" data-toggle="modal" (click)="deleteRole(data.id)" data-target="#viewModal" class="delete"
            title="Delete"><i class="material-icons">&#xE872;</i></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>