<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

<div style="margin-top: 80px">
  <table datatable id="roleTable" [dtOptions]="dtOptions" class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>No.</th>
        <th>Role ID</th>
        <th>Role</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of role; let col = index">
        <td>{{col + 1}}</td>
        <td>{{data.id}}</td>
        <td>{{data.name}}</td>
        <td>
          <a href="#" data-toggle="modal" (click)="deleteRole(data)" data-target="#viewModal" class="delete"
             title="Delete">
             <i class="material-icons">&#xE872;</i>
            </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>