 
    <!--  Start  -->
    <div style="margin-top: 50px;" >
      <!--overview start-->
      <DIV class="row" >
        <DIV class="col-lg-4">
          <!--user profile info start-->
          <SECTION class="panel">
            <DIV class="profile-widget profile-widget-info">
              <DIV class="panel-body">
                <DIV class="col-lg-4 col-sm-4 profile-widget-name">
                  <H4>First last</H4>
                  <DIV class="follow-ava">
                    <IMG alt="" src="test_files/profilelogo.jpg"> </DIV>
                  <H6>admin</H6>
                </DIV>
                <DIV class="col-lg-8 col-sm-8 follow-info">
                  <P>Welcome back First, Please check your pending work.</P>
                  <H6><SPAN><I class="icon_clock_alt"></I>11:01 PM</SPAN> <SPAN><I
                        class="icon_calendar"></I>18/07/2020</SPAN>
                    <SPAN><I class="icon_pin_alt"></I>IN</SPAN> </H6>
                </DIV>
                <DIV class="weather-category twt-category">
                  <UL>
                    <LI class="active">
                      <H4>0</H4>
                      <I class="icon_close_alt2"></I> Pending Task
                    </LI>
                    <LI>
                      <H4>0</H4>
                      <I class="icon_check_alt2"></I> Completed
                    </LI>
                    <LI>
                      <H4>0</H4>
                      <I class="icon_plus_alt2"></I> Total Task
                      
                    </LI>
                  </UL>
                </DIV>
              </DIV>
            </DIV>
          </SECTION>
          <!--user profile info end-->
        </DIV>
        <DIV class="state col-lg-8">
          <DIV class="row">
            <DIV class="col-lg-3 col-sm-6">
              <SECTION class="panel">
                <DIV class="symbol">
                  <I class="icon_globe"></I> </DIV>
                <DIV class="value">
                  <H1><A href="http://localhost/code/trip/up-coming-trips">0</A> </H1>
                  <P>In Progress Trip</P>
                </DIV>
              </SECTION>
            </DIV>
            <DIV class="col-lg-3 col-sm-6">
              <SECTION class="panel">
                <DIV class="symbol">
                  <I class="icon_tags_alt"></I> </DIV>
                <DIV class="value">
                  <H1><A href="http://localhost/code/trip/compeleted-trip">0</A></H1>
                  <P>Completed Trip</P>
                </DIV>
              </SECTION>
            </DIV>
            <DIV class="col-lg-3 col-sm-6">
              <SECTION class="panel">
                <DIV class="symbol">
                  <I class="icon_cart_alt"></I> </DIV>
                <DIV class="value">
                  <H1><A href="/booking">0</A></H1>
                  <P style="margin: -4px;">New Trip Request</P>
                </DIV>
              </SECTION>
            </DIV>
            <DIV class="col-lg-3 col-sm-6">
              <SECTION class="panel">
                <DIV style="padding: 0px 10px 18px;">
                  <P style="padding: 0px; color: rgb(142, 142, 147);">Trip ID</P>
                  <FORM id="w0" action="/code/" method="post">
                    <INPUT name="_csrf-frontend" type="hidden"
                      value="nC6xOG10BNSJvUdA70jWcaAG2n11JFifKYzpCICGYAjmTNtAIC5Irt6KHS_dAIka9kmvGzx8MN0Z9og76tIYOA==">
                    <DIV class="input-group">
                      <INPUT name="booking_id" class="form-control" aria-describedby="basic-addon1" type="text">
                      <SPAN class="input-group-btn"><BUTTON class="btn btn-info" type="submit"><I
                            class="icon_search"></I> </BUTTON> </SPAN> </DIV>
                  </FORM>
                </DIV>
              </SECTION>
            </DIV>
          </DIV>
          <DIV class="row">
            <DIV class="col-lg-3 col-sm-6">
              <SECTION class="panel">
                <DIV class="symbol">
                  <I class="icon_globe"></I> </DIV>
                <DIV class="value">
                  <H1><A href="http://localhost/code/trip/up-coming-trips">0</A> </H1>
                  <P>In Progress Trip</P>
                </DIV>
              </SECTION>
            </DIV>
            <DIV class="col-lg-3 col-sm-6">
              <SECTION class="panel">
                <DIV class="symbol">
                  <I class="icon_tags_alt"></I> </DIV>
                <DIV class="value">
                  <H1><A href="http://localhost/code/trip/compeleted-trip">0</A></H1>
                  <P>Completed Trip</P>
                </DIV>
              </SECTION>
            </DIV>
            <DIV class="col-lg-3 col-sm-6">
              <SECTION class="panel">
                <DIV class="symbol">
                  <I class="icon_cart_alt"></I> </DIV>
                <DIV class="value">
                  <H1><A href="http://localhost/code/trip/trip-management">0</A></H1>
                  <P style="margin: -4px;">Total Trip Request</P>
                </DIV>
              </SECTION>
            </DIV>
            <DIV class="col-lg-3 col-sm-6">
              <SECTION class="panel">
                <DIV class="symbol">
                  <I class="icon_cart_alt"></I> </DIV>
                <DIV class="value">
                  <H1><A href="http://localhost/code/trip/trip-management">0</A></H1>
                  <P style="margin: -4px;">Total Trip Request</P>
                </DIV>
              </SECTION>
            </DIV>
          </DIV>
        </DIV>
      </DIV>
      <!--overview end-->
      <!-- project team & activity start -->
      <DIV class="row">
        <DIV class="col-lg-4">
          <SECTION class="panel">
            <DIV class="panel-body project-team">
              <DIV class="task-progress">
                <H1>Upcoming Trips</H1>
              </DIV>
              <SPAN class="profile-ava pull-right"><A href="http://localhost/code/trip/up-coming-trips">View
                  All</A> </SPAN>
            </DIV>
            <DIV>

              <div class="row no-margin" style="border-bottom: 1px solid #ddd;" *ngFor="let trip of collection">

                <div class="col-md-4" style="text-align: center;margin-top: 10px">
                  <span class="profile-ava">
                    <img class="img-responsive" src="#" alt=""
                      style="width: 45px; height: 45px;"><br>
                    {{trip.trip_driver_info.name}}<br>{{trip.trip_driver_info.mobileNo1}}
                    <img src="#" alt="" style="height: 10px; border: 0;"> {{trip.trip_number.tripDisplayNumber}}
                  </span>

                </div>
                <div class="col-md-5">
                  <div style="margin-top: 15px;text-align: center;">
                    <div style="font-weight: bold;word-wrap: break-word;">
                      {{trip.trip_rout}} </div>
                    <div>
                      {{trip.trip_pick_time}} </div>
                    <div>
                      {{trip.trip_vehicle_info.vehicleNo}} </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div style="margin-top: 15px;text-align: center;word-wrap: break-word;">
                    {{trip.trip_company_info.title}} <p style="font-size: 10px;">{{trip.trip_company_department.dept_title}}</p>
                  </div>


                </div>
              </div>



            </DIV>
          </SECTION>
        </DIV>
        <DIV class="col-lg-8">
          <!--Project Activity start-->
          <SECTION class="panel">
            <DIV>
              <H6>New Trip Request</H6>
            </DIV>
            <DIV class="table">
              <DIV>
                <DIV class="row no-margin">
                  <DIV class="col-md-3 div-table-head">Trip</DIV>
                  <DIV class="col-md-3 div-table-head">Requester</DIV>
                  <DIV class="col-md-3 div-table-head">Assign</DIV>
                  <DIV class="col-md-3 div-table-head">Status</DIV>
                </DIV>
              </DIV>
              <DIV>
                 <!--start trip table data-->    
                <div class="row no-margin" *ngFor="let trip of collection;">
                  <div class="col-md-3 div-table-body">
                    <a href="#">
                      {{trip.trip_number.tripDisplayNumber}}</a>
                  <!--</div>
                  <div class="col-md-2 div-table-body">-->
                    <br/>
                    {{trip.trip_rout}} <!--</div>
                  <div class="col-md-2 div-table-body">-->
                    <br/>
                    {{trip.trip_pick_time}} </div>
                  <div class="col-md-3 div-table-body">
                    {{trip.trip_company_info.title}} 
                  </div>
                  <div class="col-md-3 div-table-body">
                    <div class="row">
                      <div class="col-md-10">
                        <div style="margin-bottom:10px;">
                          <div class="btn-group bootstrap-select form-control apply-select-picker"><button
                              type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown"
                              data-id="driver_734" title="Select Driver"><span class="filter-option pull-left">Select
                                Driver</span>&nbsp;<span class="bs-caret"><span class="caret"></span></span></button>
                            <div class="dropdown-menu open">
                              <div class="bs-searchbox"><input type="text" class="form-control" autocomplete="off">
                              </div>
                              <ul class="dropdown-menu inner" role="menu">
                                <li data-original-index="0" class="active"><a tabindex="0" class="" style=""
                                    data-tokens="null"><span class="text">Select Driver</span><span
                                      class="glyphicon glyphicon-ok check-mark"></span></a></li>
                              </ul>
                            </div><select id="driver_734" trip_id="734" onchange="getVehicle(this)"
                              class="form-control bootstrap-select apply-select-picker" data-live-search="true"
                              data-size="10" tabindex="-98">
                              
                            </select>
                          </div>
                        </div>
                        <select id="vehicle_734" class="form-control apply-select-picker2" data-live-search="true"
                          data-size="10">
                          <option value="">Select Driver First</option>

                        </select>
                      </div>
                      <div class="col-md-3">
                        <div id="div_734">
                          <a style="display:none;" data-html="true" href="#" id="tool_tip_734" data-toggle="tooltip"
                            title="Hooray!"><i class="icon_search-2"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2 div-table-body">
                    <div style="margin-bottom:10px;">
                      <select id="status_734" class="form-control">
                        <option value="">Select Status</option>
                        <option value="2">Approve</option>
                        <option value="3">Reject</option>
                      </select>
                    </div>
                    <button type="button" class="btn btn-info" onclick="assignTrip(734)">Assign</button>
                  </div>
                
                
                </div>

              </DIV>
            </DIV>
          </SECTION>
        </DIV>
      </DIV>
    </div>
    <!--  END HERE-->
