<div class="container" style="margin-bottom: 60px;">
    <div class="forgotPassword-form">
        <div style="max-width: 350px;margin: 130px auto 0;text-align: center;">
            <a href="" style="padding-top:50px;padding-top: 50px;font-size: 22px;text-transform: uppercase;">
                <span class="lite">Tours</span></a>
        </div>
        <form [formGroup]="forgotForm" (ngSubmit)="onFormSubmit()" style="margin: 10px auto 0;">
            <div class="forgotForm-user">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input [(ngModel)]="forgotForm.username"
                      type="text"
                      formControlName="username"
                      class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
                      placeholder="Enter username here"
                    />
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                      <div *ngIf="f.username.errors.required">Username is required</div>
                      <div *ngIf="f.username.errors.minlength">
                        Username must be 5 characters long, we need another
                        {{
                          f.username.errors.minlength.requiredLength -
                            f.username.errors.minlength.actualLength
                        }}
                        characters
                      </div>
                    </div>
                </div>

                <div class="form-group">
                    <label> Chose a way to receive a OTP </label>
                    <div class="form-group field-forgotPassword-email">
                        <label>
                            <input type="checkbox" formControlName="email" [(ngModel)]="forgotForm.email" > Email </label>
                    </div>
                    <div class="form-group field-forgotPassword-phone">
                        <label>
                            <input type="checkbox" formControlName="phone" [(ngModel)]="forgotForm.phone"> Phone </label>
                    </div>                
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg btn-block" name="forgotpsddword-button">Continue</button>
            </div>
        </form>
    </div>
</div>