<div class="container" style="margin-bottom: 60px">
  <div class="forgotPassword-form">
    <div style="max-width: 350px; margin: 130px auto 0; text-align: center">
      <a
        href=""
        style="
          padding-top: 50px;
          padding-top: 50px;
          font-size: 22px;
          text-transform: uppercase;
        "
      >
        <span class="lite">Tours</span></a
      >
    </div>
    <form
      [formGroup]="forgotForm"
      (ngSubmit)="onFormSubmit()"
      style="margin: 10px auto 0"
    >
      <div class="forgotForm-user">
        <div class="form-group">
          <label for="username">Username</label>
          <input
            [(ngModel)]="forgotForm.userName"
            type="text"
            formControlName="userName"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.userName.errors }"
            placeholder="Enter userName here"
          />
          <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
            <div *ngIf="f.userName.errors.required">userName is required</div>
            <div *ngIf="f.userName.errors.minlength">
              userName must be 5 characters long, we need another
              {{
                f.userName.errors.minlength.requiredLength -
                  f.userName.errors.minlength.actualLength
              }}
              characters
            </div>
          </div>
        </div>

        <div class="form-group">
          <label> Chose a way to receive a OTP </label>
          <div class="form-group field-forgotPassword-email">
            <label>
              <input
                type="checkbox"
                formControlName="email"
                [(ngModel)]="forgotForm.email"
              />
              Email
            </label>
          </div>
          <div class="form-group field-forgotPassword-phone">
            <label>
              <input
                type="checkbox"
                formControlName="phone"
                [(ngModel)]="forgotForm.phone"
              />
              Phone
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <button
          type="submit"
          class="btn btn-primary btn-lg btn-block"
          name="forgotpsddword-button"
        >
          Continue
        </button>
      </div>
    </form>
  </div>
</div>
<pre>{{ forgotForm | json }}</pre>
