<head>
    <!-- ... -->
    <script type="text/javascript" src="/bower_components/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/moment/min/moment.min.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/Content/bootstrap-datetimepicker.css" />  
</head>

<div class="row grow w-100">
    <div class="col-12">
        <app-header></app-header>
    </div>
    <div class="col-2">
        <app-menu></app-menu>
    </div>
<div class="main col-10" style="margin-top:80px;">
<div class="container">
    <form>
        <div class="row form-group">
            <div class="col-2 main-label"><p>Company Information</p></div>
            <div class="col-2">
                <label for="exampleFormControlSelect2">Company</label>
                <select class="form-control" [(ngModel)]="createTripReq.companyId" name="company">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="col-2">
                <label for="exampleFormControlSelect2" >Department</label>
                <select class="form-control" [(ngModel)]="createTripReq.departmentId" name="department">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="col-6"></div>
        </div>
        <div class="row form-group">
            <div class="col-2 main-label"><p>Trip Information</p></div>
            <div class="col-4">
                <label for="exampleFormControlSelect2">Route Title</label>
                <br/>
               <input  class="form-control" type="text" [(ngModel)]="createTripReq.triptTitle" name="triptTitle"/>
            </div>
            <div class="col-6"></div>
        </div>
        <div class="row form-group">
            <div class="col-2 main-label"><p>Package Information</p></div>
            <div class="col-2">
                <label for="exampleFormControlSelect2">Package Type</label>
                <select class="form-control" >
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="col-2">
                <label for="exampleFormControlSelect2" >Package</label>
                <select class="form-control" [(ngModel)]="createTripReq.packageId" name="packageId">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
                    <div class="col"></div>
        </div>
        <div class="row form-group">
            <div class="col-2 main-label"><p>Rider Information</p></div>
            <div class="form-group col">
                <label for="exampleFormControlSelect2">Name</label>
                <input type="text" class="form-control form-text" [(ngModel)]="riderReq.name"  id="name" name="name"
                    placeholder="Name">
            </div>
            <div class="form-group col">
                <label for="exampleFormControlSelect2">Phone</label>
                <input type="text" class="form-control form-text"  [(ngModel)]="riderReq.phone" name="phone"
                    placeholder="Name">
            </div>
            <div class="form-group col">
                <label for="exampleFormControlSelect2">Email</label>
                <input type="text" class="form-control form-text"  [(ngModel)]="riderReq.email" name="email"
                    placeholder="Name">
            </div>
            <div class="form-group col">
                <label for="exampleFormControlSelect2">Pick-Point</label>
                <input type="text" class="form-control form-text"  [(ngModel)]="riderReq.pickup" name="pickup"
                    placeholder="Name">
            </div>
            <div class="form-group col">
                <label for="exampleFormControlSelect2">Pick-Time</label>
                <input type="text" class="form-control form-text" [(ngModel)]="riderReq.pickupTime" name="pickupTime"
                    placeholder="Name">
            </div>
            <div class="form-group col">
                <label for="exampleFormControlSelect2">Drop-Point</label>
                <input type="text" class="form-control form-text" [(ngModel)]="riderReq.drop" name="drop"
                    placeholder="Name">
            </div>
            <div class="form-group col"><input class="btn btn-primary" (click)="addRider()" type="button" value="Add"></div>
        </div>

    </form>
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Phone</th>
            <th scope="col">Email</th>
            <th scope="col">Pick-Point</th>
            <th scope="col">Pick-Time</th>
            <th scope="col">Drop-Point</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let newRider of createTripReq.riders">
            <th scope="row">1</th>
            <td>{{newRider.firstName}}</td>
            <td>{{newRider.phone}}</td>
            <td>{{newRider.email}}</td>
            <td>{{newRider.pickPoint}}</td>
            <td>{{newRider.pickDateTime}}</td>
            <td>{{newRider.dropPoint}}</td>
            <td>Action</td>
          </tr>
        </tbody>
      </table>
      <button type="button" class="btn btn-success">Book Trip</button>    
      <div class="box box-default">
        <code>
            <pre>{{createTripReq |json}}</pre>
        </code>
    </div>
</div>
</div>
<div class="row w-100">
    <div class="col-2">
    </div>
    <div class="col-10">
        <app-footer></app-footer>
    </div>
  </div>
</div>
<script>
$('#sandbox-container input').datepicker({
});
</script>