<div *ngIf="!editMode" style="margin-top: 110px">
  <div class="container">
    <div class="row justify-content-center" style="margin-top: 80px">
      <h3 style="color:#000000">Your Profile</h3>
    </div>
  </div>
  <hr>
  <div class="form-group">
    <label for="uName" style="font-size: 15px; color:#000000">Username :</label>
    <input type="text" value="{{ user.username }}" class="form-control" disabled/>
  </div>
  <div class="form-group">
    <label style="font-size: 15px; color:#000000">Email :</label>
    <input type="text" value="{{ user.email }}" class="form-control" disabled/>
  </div>
  <div class="form-group">
    <label style="font-size: 15px; color:#000000">Phone :</label><br>
    <input type="text" value="{{ user.phone }}" class="form-control" disabled/>
  </div>
  <div class="form-group">
    <button *ngIf="!editMode" (click)="setEditMode(true)" class="btn btn-primary">Edit</button>
  </div>
</div>


<div *ngIf="editMode" style="margin-top: 110px">
  <div class="container">
    <div class="row justify-content-center" style="margin-top: 10px">
      <h3 style="color:#000000">Edit Profile</h3>
    </div>
  </div>
  <hr>
<form [formGroup]="updationForm" (ngSubmit)="updateUserProfileToDb()">
  <div class="registerForm-user">
    <div class="form-group">
      <label for="username" style="font-size: 15px; color:#000000">Username :</label>
      <input [(ngModel)]="updateUser.username" type="text" formControlName="username" class="form-control" disabled/>
      
    </div>
    <div class="form-group">
      <label for="email" style="font-size: 15px; color:#000000">Email :</label>
      <input type="text" [(ngModel)]="updateUser.email"  formControlName="email" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.required">Email is required</div>
        <div *ngIf="f.email.errors.email">Enter valid email address</div>
      </div>
    </div>
    <div class="form-group">
      <label for="phone" style="font-size: 15px; color:#000000">Phone :</label>
      <input [(ngModel)]="updateUser.phone" [type]="hide ? 'password' : 'number'" formControlName="phone" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && f.phone.errors }"/>
      <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
        <div *ngIf="f.phone.errors.required">Phone is required</div>
        <div *ngIf="f.phone.errors.minlength">
          Phone number should be 10 digits.
          {{
            f.phone.errors.minlength.requiredLength -
              f.phone.errors.minlength.actualLength
          }}
          more digits.
        </div>
        <div *ngIf="f.phone.errors.maxlength">
          Phone number should be 10 digits.
          {{
            f.phone.errors.maxlength.actualLength -
              f.phone.errors.maxlength.requiredLength 
          }}
          less digits.
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary" name="login-button">Update</button> &nbsp; &nbsp; &nbsp;
    <button *ngIf="editMode" (click)="setEditMode(false)" class="btn btn-primary">Cancel</button>
  </div>
</form>
</div>