<div *ngIf="!editMode" style="margin-top: 110px">
  <div class="container">
    <div class="row justify-content-center" style="margin-top: 80px">
      <h3 style="color:#000000">Your Profile</h3>
    </div>
  </div>
  <hr>
  <div *ngIf="recordUpdated"><h5 style="color:#000000">Record is updated.</h5></div>
  <div class="form-group">
    <label for="uName" style="font-size: 15px; color:#000000">Username :</label>
    <input type="text" value="{{ user.username }}" class="form-control" disabled/>
  </div>
  <div class="form-group">
    <label style="font-size: 15px; color:#000000">Email :</label>
    <input type="text" value="{{ user.email }}" class="form-control" disabled/>
  </div>
  <div class="form-group">
    <label style="font-size: 15px; color:#000000">Phone :</label><br>
    <input type="text" value="{{ user.phone }}" class="form-control" disabled/>
  </div>
  <p *ngIf="isDebugMode">{{ user | json }}</p>
</div>

<div *ngIf="editMode" style="margin-top: 110px">
  <div class="container">
    <div class="row justify-content-center" style="margin-top: 10px">
      <h3 style="color:#000000">Edit Profile</h3>
    </div>
  </div>
  <hr>
    <div class="form-group">
      <label for="userName" style="font-size: 15px; color:#000000" >Username :</label>
      <input type="text" [(ngModel)]="updateUser.username" name="username" class="form-control"/>
    </div>
    <div class="form-group">
      <label for="email" style="font-size: 15px; color:#000000"> Email :</label>
      <input type="text" [(ngModel)]="updateUser.email" name="email" class="form-control" />
    </div>
    <div class="form-group">
      <label for="phone" style="font-size: 15px; color:#000000">Phone :</label>
      <input type="text" [(ngModel)]="updateUser.phone" name="phone" class="form-control"/>
    </div>
    <div class="form-group">
      <label for="pwd" style="font-size: 15px; color:#000000">Password :</label>
      <input type="text" [(ngModel)]="updateUser.password" name="password" class="form-control"/>
    </div>
    <div class="form-group">
      <button (click)="updateUserProfileToDb()" class="btn btn-primary">Update</button> &nbsp; &nbsp;
    <p *ngIf="isDebugMode">{{ updateUser | json }}</p>   
    <button *ngIf="editMode" (click)="setEditMode(false)" class="btn btn-primary">View</button>
    </div>
</div>
<div class="form-group">
  <button *ngIf="!editMode" (click)="setEditMode(true)" class="btn btn-primary">Edit</button>
</div>
